{% extends "base.html" %}

{% block title %}
    Acerca de mí
{% endblock %}

{% block content %}
<p></p>
<div class="card text-bg-dark mb-3 card border-light mb-3" style="max-width: 30rem; left: 31%;">
    <div class="card-body">
        <h1 style="text-align:center;">Acerca de mí y de</h1> <h1 style="text-align:center; color: rgb(243, 116, 116);"> HappyPaws</h1>
    </div>
</div>
<p></p>
<div class="card text-bg-dark mb-2 card border-light mb-2" style="max-width: 50rem; left: 20%;">
    <div class="card-body">
        <h3 style="text-align:center;">Mi nombre es Sofía Heredia, estudiante de Python, y trabajadora de salud. Tengo 20 años, y siempre me interesó la programación; es por eso que decidí empezar el proyecto HappyPaws.</h3>
    </div>
</div>
<p></p>
<div class="card text-bg-dark mb-lg-0 card border-light mb-lg-0" style="max-width: 70rem; left: 9%;">
    <div class="card-body">
        <h4 style="text-align:center; color: rgb(243, 116, 116)">Hay muchos refugios de animales y hogares de tránsito a lo largo del mundo. Pero decidí centrarme en
            Capital Federal para este proyecto. Queriendo crear una forma de listar dichos refugios y hogares para
            la comodidad de las personas tanto al adoptar como al dar en adopción. Saber de dónde vienen los animales
            y a dónde van. 
        </h4>
    </div>
</div>
{% endblock %}