{% extends "base.html" %}

{% block title %}
    ¡Adoptado!
{% endblock %}

{% block content %}
<p></p>
<div class="card text-bg-dark mb-3 card border-light mb-3">
    <div class="card-body">
        <h1 style="text-align:center;">¡Gracias por interesarte en adoptar!</h1>
    </div>
</div> 

    {% if request.user.is_authenticated %}
    <div class="card text-bg-dark mb-3 card border-light mb-3" style="max-width: 65rem; text-align: center;  margin-left: 12%;">
        <h3 style="color: rgb(243, 116, 116)"> ¡En breves nos estaremos comunicando con vos! </h3>
    </div>
    {% elif not request.user.is_authenticated %}
    <div class="card text-bg-dark mb-3 card border-light mb-3" style="max-width: 65rem; text-align: center;  margin-left:12%;">
        <h3 style="color: rgb(243, 116, 116)"> Por favor, para poder comunicarnos con usted, inicie sesión. </h3>
    </div>
    {% endif %}
{% endblock %}
