<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}    {% endblock %}</title>
</head>
<body>
    <style>
        body {
        background-image: url('https://i.pinimg.com/564x/0b/c4/a1/0bc4a10e10077c2aedac4cf37e7378c7.jpg');
        }
        </style>
    <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href=""><img src="https://i.ibb.co/VVpN3y7/ahorasihappypaws.png" alt="ahorasihappypaws" width="60" height="60" /></a>
                <div class="container-fluid">
                <a class="navbar-brand" href="/" style="margin-bottom:5px; margin-left:-5px;">HappyPaws</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Animales
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/animal-list/">Lista de animales</a></li>
                                <li><a class="dropdown-item" href="/putup-adoption/">Crear un aviso</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Refugios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/shelter-list/">Lista de refugios</a></li>
                                <li><a class="dropdown-item" href="/create-shelter/">Crear un refugio</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Perfiles
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/profile-list/">Lista de perfiles</a></li>
                                <li><a class="dropdown-item" href="/create-profile/">Crear un perfil</a></li>
                            </ul>
                        </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(252, 135, 135); margin-bottom:5px; margin-top:0px; margin-right:50px; font-style:italic;">
                            {{request.user.username}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login/">Iniciar Sesión</a></li>
                            <li><a class="dropdown-item" href="/register/">Registrarse</a></li>
                            <li><a class="dropdown-item" href="/logout/">Cerrar Sesión</a></li>
                        </ul>
                    </li>

                    <form class="d-flex" role="search" action="/animal-list/" method="GET">
                    <input class="form-control me-2" type="search" placeholder="Buscar Animales" aria-label="Search" name="search" style="margin-left:480px;">
                    <button class="btn btn-outline-light" type="submit" style="color:rgb(254, 150, 149)">Buscar</button>
                    </form>
                </div>
                </div>
            </nav>
    </header>
    {% block content %}


    {% endblock %}
</body>
</html>