{% extends "base.html" %}

{% block title %}
    Creador de Refugios
{% endblock %}

{% block content %}
<div class="card text-bg-dark mb-3 card border-light mb-3">
    <div class="card-body">
        <h1 style="text-align:center;">¡Bienvenidx a nuestro creador de refugios!</h1>
    </div>
</div> 

    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
            <p> Nombre: {{form.name}} </p> 
            <p> Calle: {{form.street}} </p> 
            <p> Altura: {{form.number}} </p> 
            <p> Código postal: {{form.postal_code}} </p> 
            <p> Provincia: {{form.province}} </p> 
            <p> Tipo de refugio: {{form.shelter_type}} </p> 
            <input type="submit" value="Crear Refugio">
        </form>
    {% endif %}

    {% if form_errors %}
    <h2 style="color: red;"> Errores: </h2>
    {{form_errors}}
    {% endif %}

    {% if message %}
        <h2 style="color: green;"> {{message}} </h2>
    {% endif %}

{% endblock %}
