{% extends "base.html" %}

{% block title %}
    Creador de Perfiles
{% endblock %}

{% block content %}
<div class="card text-bg-dark mb-3 card border-light mb-3">
    <div class="card-body">
        <h1 style="text-align:center;"> ¡Bienvenidx a nuestro creador de perfiles!</h1>
    </div>
</div> 

    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
            <p> Nombre: {{form.name}} </p>
            <p> Edad: {{form.age}} </p>
            <p> DNI: {{form.dni}} </p>
            <p> Tipo de casa: {{form.house_type}} </p>
            <p> Número de contacto (opcional): {{form.contact_number}} </p>
            <input type="submit" value="Crear Perfil">
        </form>
    {% endif %}

    {% if form_errors %}
    <h2 style="color: red;"> Errores: </h2>
    {{form_errors}}
    {% endif %}

    {% if message %}
        <div class="card text-bg-dark mb-3 card border-light mb-3">
            <div class="card-body">
                <h1 style="text-align:center;">{{message}}</h1>
            </div>
        </div> 
    {% endif %}

{% endblock %}
