{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
<p></p>
<div class="card text-bg-dark mb-3 card border-light mb-3">
    <div class="card-body">
        <h1 style="text-align:center;">¡Bienvenidx a nuestro programa de adopción!</h1>
    </div>
</div>

{% if mensaje %}
<p></p>
    <div class="card text-bg-dark mb-3 card border-light mb-3">
        <div class="card-body">
            <h1 style="text-align:center; color: rgb(255, 110, 110);"> {{mensaje}} </h1>
        </div>
    </div>
{% endif %}

{% endblock %}
