{% extends "base.html" %}    


{% block title %}      
    Lista de Refugios
{% endblock %}   

{% block content %}
<p></p>
<div class="card text-bg-dark mb-3 card border-light mb-3">
    <div class="card-body">
        <h1 style="text-align:center;">¡Bienvenidx a la lista de perfiles!</h1>     
    </div>
</div> 

<div class="card text-bg-dark mb-3 card border-light mb-3" style="max-width: 30rem; margin-left: 30%;">
    <div class="card-body">
        <h2 style="text-align:center;"> Agregar nuevo perfil</h2>   
        <a href="/create-profile/" class="btn btn-dark btn-outline-light" style="text-align: center; margin-left: 42%;">Crear</a> 
    </div>
</div> 

    <p></p>
    
    {% for profile in profiles %}
    <div class="card text-bg-dark mb-3 card border-danger mb-3" style="max-width: 16rem;">     
        <div class="card-body">     

        <p> Nombre: {{profile.name}} </p>     
        <p> Edad: {{profile.age}} años</p>      
        <p> DNI: {{profile.dni}} </p>   
        <p> Tiene: {{profile.house_type}} </p>   

        </div>
    </div>
    {% endfor %}

{% endblock %}