{% extends "base.html" %}    


{% block title %}      
    Lista de Refugios
{% endblock %}   

{% block content %}

    <h1> ¡Bienvenido a la lista de perfiles!</h1>     
    <h2>Agregar nuevo perfil</h2> <a href="/create-profile/" button type="button" class="btn btn-dark btn-lg">Crear</a> 
    <p></p>
    
    {% for profile in profiles %}
    <div class="card text-bg-dark mb-3 card border-danger mb-3" style="max-width: 16rem;">     
        <div class="card-body">     

        <p> Nombre: {{profile.name}} </p>     
        <p> Edad: {{profile.age}} años</p>      
        <p> DNI: {{profile.dni}} </p>   
        <p> Tiene: {{profile.house_type}} </p>   

        </div>
    </div>
    {% endfor %}

{% endblock %}