{% extends "base.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <div class="card text-bg-dark mb-3 card border-light mb-3">
        <div class="card-body">
            <h1 style="text-align:center;">¡Bienvenidx a nuestro programa de adopción!</h1>
        </div>
    </div> 

    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
            <p> Nombre: {{form.name}} </p>
            <p> Edad: {{form.age}} </p>
            <p> Género: {{form.gender}} </p>
            <p> Raza: {{form.breed}} </p>
            <p> ¿Es exótico? {{form.exotic}} </p>
            <p> ¿Tiene menos de un año? {{form.baby}} </p>
            <input type="submit" value="Crear Aviso">
        </form>
    {% endif %}

    {% if form_errors %}
    <h2 style="color: red;"> Errores: </h2>
    {{form_errors}}
    {% endif %}

    {% if message %}
        <h2 style="color: green;"> {{message}} </h2>
    {% endif %}

{% endblock %}
