{% extends "base.html" %}

{% block title %}
    Crear un aviso
{% endblock %}

{% block content %}
<p></p>
    <div class="card text-bg-dark mb-3 card border-light mb-3">
        <div class="card-body">
            <h1 style="text-align:center;">¡Bienvenidx a nuestro programa de adopción!</h1>
        </div>
    </div> 

    {% if form %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4> Nombre: {{form.name}} </h4>
            <h4> Edad: {{form.age}} </h4>
            <h4> Género: {{form.gender}} </h4>
            <h4> Raza: {{form.breed}} </h4>
            <h4> ¿Es exótico? {{form.exotic}} </h4>
            <h4> ¿Tiene menos de un año? {{form.baby}} </h4>
            <h4> Insertá una imagen: {{form.image}} </h4>
            <input type="submit" value="Crear Aviso">
        </form>
    {% endif %}

    {% if form_errors %}
    <h2 style="color: red;"> Errores: </h2>
    {{form_errors}}
    {% endif %}

    {% if message %}
        <div class="card text-bg-dark mb-3 card border-light mb-3">
            <div class="card-body">
                <h1 style="text-align:center;">{{message}}</h1>
            </div>
        </div> 
    {% endif %}

{% endblock %}
