{% extends "base.html" %}    


{% block title %}      
    Lista de Refugios
{% endblock %}   

{% block content %}
<div class="card text-bg-dark mb-3 card border-light mb-3">
    <div class="card-body">
        <h1 style="text-align:center;">¡Bienvenidx a la lista de refugios!</h1>     
    </div>
</div> 

<div class="card text-bg-dark mb-3 card border-light mb-3">
    <div class="card-body">
        <h1 style="text-align:center;">Agregar un nuevo refugio:</h1>    
        <a href="/create-shelter/" class="card text-bg-dark mb-3 card border-light mb-3" style="text-align: center;">Crear</a>  
    </div>
</div> 

    
    {% for shelter in shelters %}
    <div class="card text-bg-dark mb-3 card border-danger mb-3" style="max-width: 16rem;">     
        <div class="card-body">     

        <p> {{shelter.name}} </p>     
        <p> La dirección es {{shelter.street}} {{shelter.number}}</p>       
        <p> Código postal: {{shelter.postal_code}} </p>   
        <p> Provincia: {{shelter.province}} </p>   
        <p> {{shelter.shelter_type}} </p>     

        </div>
    </div>
    {% endfor %}

{% endblock %}